body {
  font-family: "Roboto", sans-serif;
  background-color: #2c3639;
  color: #dcd7c9;
  text-align: center;
  margin: 0;
  padding: 0;
}

button {
  font-family: "Roboto", sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 871px;
}

h1 {
  font-weight: normal;
  font-size: 48px;
}

#bolded {
  font-weight: bold;
  color: #a27b5c;
}

#password-btn {
  width: 871px;
  height: 88px;

  background: #3f4e4f;
  border: none;
  border-radius: 10px;
  color: #dcd7c9;
  font-size: 32px;
  cursor: pointer;
  transition: 0.2s;
}

#password-btn:hover {
  background-color: #a27b5c;
  color: #2c3639;
  font-weight: bold;
}

#generate-btn {
  width: 158px;
  height: 50px;

  cursor: pointer;
  border: none;
  background: #3f4e4f;
  border-radius: 13px;
  color: #dcd7c9;
  font-size: 26px;
}
