body {
  font-family: "Roboto", sans-serif;
  background-color: #2c3639;
  color: #dcd7c9;
  text-align: center;
  margin: 0;
  padding: 0;
}

button {
  font-family: "Roboto", sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 892px;
}

h1 {
  font-weight: normal;
  font-size: 48px;
}

#bolded {
  font-weight: bold;
  color: #a27b5c;
}

#password-btn {
  width: 871px;
  height: 88px;

  background: #3f4e4f;
  border: none;
  border-radius: 10px;
  color: #dcd7c9;
  font-size: 32px;
  cursor: pointer;
  transition: 0.15s;

  overflow: hidden;
  white-space: nowrap;

  text-overflow: ellipsis;
}

#password-btn:hover {
  background-color: #a27b5c;
  color: #2c3639;
  font-weight: bold;
}

#slider-container {
  display: flex;
  align-items: center;
}

#slider-value {
  font-family: "Roboto", sans-serif;
  border: none;
  width: 42px;
  margin-right: 10px;
  background-color: #3f4e4f;
  border-radius: 4px;
  color: #dcd7c9;
}

input[type="range"] {
  width: 811px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #3f4e4f;
  height: 8px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 8px;
}

input[type="range"]::-moz-track {
  -moz-appearance: none;
  height: 8px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 50%;
  margin-top: -5.5px;
  background-color: #a27b5c;
}

input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 50%;
  background-color: #a27b5c;
}

.h2-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 872.5px;
}

h2 {
  font-weight: normal;
  font-size: 24px;
  text-align: left;
}

#checkboxes {
  display: flex;
  width: 872.5px;
  font-family: "Roboto", sans-serif;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
  color: #dcd7c9;
}

input[type="checkbox"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #3f4e4f;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  display: grid;
  place-content: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #a27b5c;
  appearance: none;
  color: #dcd7c9;
  content: "\2714";
  transition-duration: 0.15s;
}

input[type="checkbox"]:checked::before {
  display: grid;
  place-content: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #dcd7c9;
  content: "\2714";
}

input[type="checkbox"]:hover {
  background: hsl(184, 11%, 28%, 70%);
}

#generate-button {
  display: flex;
  width: 500px;
  justify-content: right;
}

#generate-btn {
  width: 110px;
  height: 30px;

  cursor: pointer;
  border: none;
  background: #3f4e4f;
  border-radius: 9px;
  color: #dcd7c9;
  font-size: 18px;
  transition-duration: 0.15s;
}

#generate-btn:hover {
  background-color: #a27b5c;
  color: #2c3639;
  font-weight: bold;
}
